h1 {
    font-size: 6rem;
}

h5 {
    font-size: 2rem;
    margin-left: 4rem;
    margin-top: 10rem;
}

h6 {
    font-size: 1.2rem;
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 75px;
}

p {
    text-align: left;
    margin-bottom: 1.5rem;
}