* {
    padding: 0%;
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #343a40;
}

#navBar {
    padding: 1.2rem;
    background-color: #343a40;
    color: azure;
    font-size: 1.2rem;
}

#navBar a {
    margin-top: 15px;
    opacity: 0.7;
}

#navBar a:hover {
    transition: ease-in-out 0.4s;
    opacity: 1;
}

#logoText {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
}

a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: aliceblue;
}

body {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.introduction {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: fit-content;
    width: 60%;
    margin-top: 100px;
    margin-left: 70px;
}

#Welcome {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #0c1618;
    opacity: 0.8;
    margin-bottom: 30px;
}

#line {
    margin-top: 20px;
    background-color: #343a40;
    height: 6px;
    width: 30%;
}

p {
    margin: 0.7rem;
}

#articleStart {
    margin-top: 5rem;
    margin-left: 10rem;
    margin-bottom: 4rem;
}

.articleBox {
    border-radius: 3em;
    padding: 2rem;
    margin: 2rem;
    width: 70%;
    background-color: rgba(250, 244, 211, 0.3);
    margin-left: 3rem;
    transition: all 0.7s ease-in-out;
}

.articleBox:hover {
    padding: 4rem;
    box-shadow: 1px 5px 10px #f8f8f8;
    background-color: rgba(250, 244, 211, 1);
}